<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Learning NodeJS</title>
</head>
<body>
    <div>
        <form action="/signup" method="POST">
            <div>
                <h1>Sign Up</h1>
            </div>
            <div>
                <div>
                    <input id="input-username" type="text" placeholder="Username" autofocus>
                </div>
                <div>
                    <input id="input-email" type="text" placeholder="Email">
                </div>
                <div>
                    <input id="input-password" type="password" placeholder="">
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
        <script src="signup_1.js" type="javascript"></script>
    </div>
</body>
</html>
